body{
    background-image:url(w.jpg) ;
    background-repeat:no-repeat ;
    background-attachment:fixed ;
    background-size:cover ;
}

.fpr{
    font-size: 50px;
    font-weight: bolder;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 150px;
    margin-left: 300px;
}
.icn{
    margin-top: 150px;
    margin-left: 300px;
    color: white;
    font-size: 20px;
}
.ffpr{
    float: left;
}
.frpr{
    color: white;
    margin-left: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.spr{
    color: white;
    margin-top: 100px;
    margin-right: 350px;
    float:right
}
.sfpr{
      color: white;
      margin-right: 180px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      float: right;
}
.tpr{
    font-size: 50px;
    font-weight: bolder;
}

.inp{
    width: 200%;
    padding: 8px;
   
}
.btn{
    color: white;
    background:rgba(23, 153, 204, 0.418);
    padding: 8px;
    border: white;
   
}